<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shine.seimi.dao.MovieMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cn.shine.seimi.domain.Movie">
                    <id column="number" property="number"/>
                    <result column="release_time" property="releaseTime"/>
                    <result column="director" property="director"/>
                    <result column="series" property="series"/>
                    <result column="Maker" property="Maker"/>
                    <result column="Publisher" property="Publisher"/>
                    <result column="genre" property="genre"/>
                    <result column="actor" property="actor"/>
                    <result column="movie_pic" property="moviePic"/>
                    <result column="movie_title" property="movieTitle"/>
                    <result column="movie_length" property="movieLength"/>
                    <result column="movie_pic_detail" property="moviePicDetail"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            number, release_time, director, series, Maker, Publisher, genre, actor, movie_pic, movie_title, movie_length, movie_pic_detail
        </sql>


    <select id="selectPageVo" resultMap="BaseResultMap">
        SELECT * FROM javbooks_movie
    </select>
</mapper>